<h1>Crear Notificacion</h1>

<form action="/Notificacion/crearNotificacion" method="post">

  <div class="form-group row">
    <label for="fkIdMateria" class="col-2 col-form-label">Materia</label>
    <div class="col-10">
      <select class="form-control" id="fkIdMateria" name="fkIdMateria">
        <% for(var i=0;i<materias.length;i++){ %>
          <option value="<%=materias[i].id%>"><%=materias[i].nombre%></option>
        <%}%>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="dia" class="col-2 col-form-label">Dia</label>
    <div class="col-10">
      <select class="form-control" id="dia" name="dia">
        <option value="En progreso">En progreso</option>
        <option value="Realizada">Realizada</option>
        </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="descripcion" class="col-2 col-form-label">Descripcion</label>
    <div class="col-10">
      <input class="form-control"
             type="text"
             placeholder="Ingrese el nombre de la descripción"
             id="descripcion"
             name="descripcion"
      >
    </div>
  </div>

  <div class="form-group row">
    <label for="fechaNotificacion" class="col-2 col-form-label">Fecha de notificacion</label>
    <div class="col-10">
      <input class="form-control" type="datetime"  id="fechaNotificacion" name="fechaNotificacion">
    </div>
  </div>
  
  <button
    class="btn btn-outline-success">Crear</button>

  <button type="reset"
          class="btn btn-outline-warning">Reset</button>

</form>
