#menu{
  position: fixed;
  height: 100vh;
  width: 200px;
  background-color: lightgray;
}

#principal{
  padding: 15px;
  margin-left: 200px;
}

.footer{
  position: fixed;
  bottom:0px;
  width: 100%;
  background-color: aliceblue;
  text-align: center;
}
