<h1>Horario</h1>

<table class="table">
  <thead>
  <tr>
    <th>Hora</th>
    <th>Domingo</th>
    <th>Lunes</th>
    <th>Martes</th>
    <th>Miercoles</th>
    <th>Jueves</th>
    <th>Viernes</th>
    <th>Sábado</th>
  </tr>
  </thead>
  <tbody>
  <% for(var i=6;i< 21;i++){ %>
  <tc >
    <tr class="filaCalendario">
      <td>
        <%=i%>:00 - <%=i+1%>:00
      </td>
      <%for(var k=0;k< 7;k++){%>
      <td >
        <%for(var j=0;j< horarios.length;j++){%>
        <%  if(i>=horarios[j].horaInicio.getHours()&&i<=(horarios[j].horaFin.getHours()-1)&&horarios[j].dia==k){%>
        <div class="horario">
          <%=horarios[j].fkIdMateria.nombre%>
        </div>
        <%} %>
        <%} %>
      </td>
      <%} %>
    </tr>
  </tc>
  <%}%>
  </tbody>
</table>

<br>

<a href="/">Back to home page</a>
<br>
<a href="/logout">Log out</a>
