
<body class="body">

  <div class="row">
    <div class="col-xl-8">
      <img src="http://noticias.universia.edu.ve/net/images/educacion/c/co/com/como-organizar-seu-tempo-noticias.jpg"  >

    </div>
    <div class="col-xl-4"><h1>Registrarse</h1>
      <form action="/signup" method="post">
        <div class="form-group row">
          <label for="name" class="col-2 col-form-label" >Nombres</label>
          <div class="col-10">
            <input class="form-control" name="name" placeholder="Ingrese sus nombres" type="text"/>
          </div>
        </div>


        <div class="form-group row">
          <label for="email" class="col-2 col-form-label">Email</label>
          <div class="col-10">
            <input class="form-control"  name="email"  placeholder="Ingrese su Email" type="text"/>
          </div>
        </div>


        <div class="form-group row">
          <label for="password" class="col-2 col-form-label">Password</label>
          <div class="col-10">
            <input class="form-control" name="password" placeholder="Ingrese una contraseña" type="password"/>
          </div>
        </div>

        <input class= "btn btn-outline-success" type="submit"/>
        <button class="btn btn-outline-warning">
          <a href="/login">Si ya esta registrado continue</a>
        </button>

      </form>

    </div>
  </div>
  <br>
  <br>

<div class="row">
  <div class="col-xl-12">
    <center>
      <h1> Informacion del sitio </h1>
      <br>
      <br>
      <a title="haz clicl aqui para ir " href="http://localhost/wordpress/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRU8rmHBm62GbKI3MJGNWPzsc8s92KsgBPKp8YbMISDMWT6bMCyrg" alt="" /></a>

    </center>
<br>
    <br>

  </div>
</div>

</body>
